<h1> Inicio</h1>

<ul>
    <li>
        <%=link_to "TIPOS", kinds_path%>
    </li>
    <li>
        <%=link_to "Telefones", phones_path%>
    </li>
    <li>
        <%=link_to "Contatos", contacts_path%>
    </li>
    <li>
        <%=link_to "Endreços", addresses_path%>
    </li>
</ul>